/* .attribution {
            font-size: 11px;
            text-align: center;
        }
        
        .attribution a {
            color: hsl(228, 45%, 44%);
        } */

* {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

.title {
    text-align: center;
    padding-top: 10px;
}