/* .attribution {
            font-size: 11px;
            text-align: center;
        }
        
        .attribution a {
            color: hsl(228, 45%, 44%);
        } */

.header {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
    height: 750px;
}

.title {
    text-align: center;
    padding-top: 10px;
}

p {
    color: hsl(229, 6%, 66%);
}

.temp1 {
    width: 281px;
    border: 2px solid white;
    box-sizing: content-box;
    background-color: #fff;
    font-size: 12px;
}

.temp2 {
    position: absolute;
    left: 660px;
}

.temp3 {
    position: absolute;
    left: 276px;
    top: 416px;
}

.temp4 {
    position: absolute;
    left: 660px;
    top: 570px;
}

.temp5 {
    position: absolute;
    left: 660px;
}

svg {
    padding-left: 217px;
}

.temp {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 422px 30px 77px;
}

#team {
    left: 100px;
}